<%- partial("template/navbar", navbar)%>
<%- partial("template/header")%>
<div class="container note">
	<h2>更新记录</h2>
	<div class="row">
		<div class="col-md-3 title">
			<h3>学习笔记</h3>
			<p><span class="glyphicon glyphicon-time"></span>2014-07-09</p>
		</div>
		<div class="col-md-9 content">
			<p>记录自己的学习情况。</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 title">
			<h3>学习笔记</h3>
			<p><span class="glyphicon glyphicon-time"></span>2014-07-08</p>
		</div>
		<div class="col-md-9 content">
			<p>在主导航中添加学习笔记，记录自己的学习情况。</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 title">
			<h3>实验室</h3>
			<p><span class="glyphicon glyphicon-time"></span>2014-07-06</p>
		</div>
		<div class="col-md-9 content">
			<p>做了一个图片库的小插件--<a href="/lab/gallery" target="_blank">图片库</a>。</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 title">
			<h3>about me</h3>
			<p><span class="glyphicon glyphicon-time"></span>2014-07-03</p>
		</div>
		<div class="col-md-9 content">
			<p>在主导中加入<a href="/about" target="_blank">about me</a>页面，为自己做了一个短短的自我介绍。<strong>PS:</strong>由于首页还不知道要放什么，先把更新记录写到这里^_^</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 title">
			<h3>小应用</h3>
			<p><span class="glyphicon glyphicon-time"></span>2014-07-03</p>
		</div>
		<div class="col-md-9 content">
			<p>在小应用中，添加了小小记账单，完成了页面的基本功能，基本实现账单的记账功能，页面样式还有待优化，做了个简单的登录页面，但是没有做注册功能，开发一个测试帐号，可以做简单效果体验，小的正在努力改进，同时用BackboneJS写了一个js控制的版本。</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 title">
			<h3>小应用</h3>
			<p><span class="glyphicon glyphicon-time"></span>2014-07-02</p>
		</div>
		<div class="col-md-9 content">
			<p>小应用中，做了一个简单的todo页面，可以添加待办，更改待办状态，使用BackboneJS与后台交互。</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 title">
			<h3>CH51F</h3>
			<p><span class="glyphicon glyphicon-time"></span>2014-07-01</p>
		</div>
		<div class="col-md-9 content">
			<p>今天忍不住了,自己太懒散了，什么拿得出手的都没有，今天把这个简单丑陋的页面扔出去，希望能够激励自己多多进步。在实验室里面有一些自己写的jQuery插件，以后决定自己学了什么，做了什么以后都扔到这上面来与大家分享。</p>
		</div>
	</div>
	<div>
	</div>
</div>