<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/fonts.css">
	<style type="text/css">
		div{text-align: center;}
		.normol{background: #999;border: 1px solid #f00;}
		.parent{background: #999;border: 1px solid #f00;height: 200px;}
		.next{background: #999;border: 1px solid #f00;height: 150px;margin: 10px 0;}
		.left{width: 30%;height: 200px;float: left;background: #0f0;}
		.right{width: 30%;height: 200px;float: right;background: #0f0;}
	</style>
</head>
<body>
	<div class="parent">parent
		<div class="left">left</div>
		<div class="right">right</div>
	</div>
	<div class="next">next</div>
</body>
</html>