<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/lab/carousel.css">
</head>
<body>
	<section id="carousel" style="display:none;">
		<ul>
			<% for(var i = 0; i < 6; i++) { %>
				<li><img src="/images/blindify/<%= i + 1 %>.jpg" alt=""></li>
			<% } %>
		</ul>
	</section>
	<script type="text/javascript" src="/javascripts/require.js" data-main="/javascripts/start/start-carousel"></script>
</body>
</html>