<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/fonts.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/my/content.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/my/template.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/lab/dialog.css">
</head>
<body class="page">
	<div class="page">
		<a href="javascript:;">弹出框测试</a>
	</div>
	<script type="text/javascript" src="/javascripts/require.js" data-main="/javascripts/start/start-dialog"></script>
</body>
</html>