<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/lab/index.css">
</head>
<body>
	<% for(var i = 0; i < 4; i ++) { %>
		<div class="circle">
			<% for(var j = 0; j < 20; j ++) { %>
				<i></i>
			<% } %>
		</div>
	<% } %>
	<h1><%= title %></h1>
	<div class="click">
		<a href="/lab/main">点击进入</a>
	</div>
</body>
</html>