<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/lab/main.css">
</head>
<body>
	<a href="/lab/blindify">百叶窗效果</a>
	<a href="/lab/carousel">图片轮播效果</a>
</body>
</html>