<div id="bill-app">
	<h1 id="page-title"><%= title %></h1>
	<a id="add-bill" href="javascript:;">点我新增账单●﹏●</a>
	<table id="bills">
		<tr>
			<th class="title">标题</th>
			<th class="content">内容</th>
			<th class="money">金额（元）</th>
			<th class="date">时间</th>
			<th class="operate">操作</th>
		</tr>
	</table>
</div>
<div id="mask"></div>
<script type="text/javascript" src="/javascripts/require.js" data-main="/javascripts/start/bills"></script>